
<%= render :partial => 'shared/jobs_left_nav' %>


<div class="box left">
	<h3>Edit Job</h3>
	
	
	<div id="fnol_div">
		<%= render 'form' %>
	</div>
	<!-- <%= link_to 'Show', @job %> |
	<%= link_to 'Back', jobs_path %> -->
	
	<div id="zones_div" class="box left">
		<%= render 'zones/index' %>
	</div>
	
	<div id="sketches_div" class="box left">
		<%= render 'sketches/index' %>
	</div>
	
	<div id="show_sketch_div" class="box left">
		
	</div>
	
</div>