	
	<div id="left_nav" class="box span-4 left">
		<ul class="left">
			<li id="fnol_button"><%= link_to 'FNOL', '#' %></li>
			<li><%= link_to 'Initial Inspection', '#' %></li>
			<li><%= link_to 'Rooms', '#' %></li>
			<li id="zone_button"><%= link_to 'Zones', '#' %></li>
			<li><%= link_to 'Validation', '#' %></li>
			<li><%= link_to 'Monitoring', '#' %></li>
			<li id="drawing_button"><%= link_to 'Drawing', '#' %></li>
			<li><%= link_to 'Job Diary', '#' %></li>
			<li><%= link_to 'Alerts', '#' %></li>
			<li><%= link_to 'Reporting', '#' %></li>
			<li><%= link_to 'Job Completion', '#' %> </li>
		</ul>
	</div>	
	
	
	


