
<div class="contact_form_container">
<%= simple_form_for @contact do |f| %>
  
  
  <%= f.input :first_name %>  
  <%= f.input :last_name %>  
  <%= f.input :email %>  
  <%= f.input :phone_num %>  
  <%= f.input :address1 %>  
  <%= f.input :address2 %><br/>
  <%= f.association :contact_type %>  	
  <%= f.button :submit %>
<% end %>
   
</div>

