<h1>Listing rooms</h1>

<table>
  <thead>
  <tr>
    <th>Room name</th>
    <th>Room level</th>
    <th>Current Zone</th>
    <th>Level type</th>
    <th>Water class</th> 
    <th>Length</th>
    <th>Width</th>
    <th>Height</th>
    <th>Room shape</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  
  <tbody>
<% @rooms.each do |room| %>
  <tr>
    <td><%= room.room_name %></td>
    <td><%= room.room_level %></td>
    <td><%= room.zone %></td>
    <td><%= room.level_type %></td>
    <td><%= room.water_class %></td>      
    <td><%= room.length %></td>
    <td><%= room.width %></td>
    <td><%= room.height %></td>
    <td><%= room.room_shape %></td>
    <td><%= link_to 'Show', zone_room_path(@zone, room) %></td>
    <td><%= link_to 'Edit', edit_zone_room_path(@zone, room) %></td>
    
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Room', new_zone_room_path %>
