<!DOCTYPE html>
<html>
<head>
  <title>JqueryAirPractice</title>
  <%= stylesheet_link_tag :all %> 
  <%= stylesheet_link_tag 'blueprint/screen' %>
  <%= stylesheet_link_tag 'blueprint/print' %>  
  
  <!--[if IE 6]><%= stylesheet_link_tag 'formtastic_ie6' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'formtastic_ie7' %><![endif]-->
  <%= javascript_include_tag :defaults %>
  
  
  <%= csrf_meta_tag %>
</head>
<body>
	<div class="container">
		
		<div class="logo_bar drybook_name">SERVPRO Drybook</div>
		<div class="menu_div">
			<ul>
				<li>File</li>
				<li>Edit</li>
				<li>Settings</li>
				<li>Help</li>
				<li>About</li>
			</ul>
		</div>
		<div id="nav_div">
			<ul id="nav_list">
				<li><%= link_to "Jobs", jobs_path, :class => 'nav_button' %></li>
				<li><%= link_to "Equipment Management", '#', :class => 'nav_button' %></li>
				<li><%= link_to "Quick Reference Guides", '#', :class => 'nav_button' %></li>
				<li><%= link_to "Contact Management", contacts_path, :class => 'nav_button' %></li>
				
			</ul>
			<div class="gray_div"></div>
		</div>
		
		
		<div class="content">				
			<%= yield %>
						
		</div>
	</div>
</body>
</html>
