<!DOCTYPE html>
<html>
<head>
  <title>JqueryAirPractice</title>
  <%= stylesheet_link_tag 'custom' %> 
  <%= stylesheet_link_tag 'blueprint/screen' %>
  <%= stylesheet_link_tag 'blueprint/print' %>
  <%= stylesheet_link_tag 'ui-lightness/jquery-ui.custom.css' %>  
  
  <!--[if IE 6]><%= stylesheet_link_tag 'formtastic_ie6' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'formtastic_ie7' %><![endif]-->
  
  <%= javascript_include_tag 'jquery-1.6.4.js' %>
  <%= javascript_include_tag 'rails.js' %>
  <%= javascript_include_tag 'jquery-ui-1.8.16.custom.js' %>
  <%= javascript_include_tag 'jquery.ba-hashchange.js' %>
  <%= javascript_include_tag 'jquery.easytabs.js' %>
  <%= javascript_include_tag 'application.js' %>
  <%= javascript_include_tag 'raphael-min.js' %>
  
  <%= csrf_meta_tag %>
</head>
<body>
	<div class="container">
		
		<div class="logo_bar drybook_name">SERVPRO Drybook</div>
		<div class="menu_div">
			<ul>
				<li>File</li>
				<li>Edit</li>
				<li>Settings</li>
				<li>Help</li>
				<li>About</li>
			</ul>
		</div>
		<div id="nav_div">
			<ul id="nav_list">
				<li><%= link_to "Jobs", jobs_path, :class => 'nav_button' %></li>
				<li><%= link_to "Equipment Management", '#', :class => 'nav_button' %></li>
				<li><%= link_to "Quick Reference Guides", '#', :class => 'nav_button' %></li>
				<li><%= link_to "Contact Management", contacts_path, :class => 'nav_button' %></li>
				
			</ul>
			<div class="gray_div"></div>
		</div>
		
		
		<div class="content">
			
			<% flash.each do |key, value| %>
          		<div class="flash <%= key %>"><%= value %></div>
        	<% end %>
        				
			<%= yield %>		
				
		</div>
	</div>
</body>
</html>
