<!DOCTYPE html>
<html>
<head>
  <title>JqueryAirPractice</title>
  <%= stylesheet_link_tag :all %> 
  <%= stylesheet_link_tag 'blueprint/screen' %>
  <%= stylesheet_link_tag 'blueprint/print' %>
  
  <%= javascript_include_tag :defaults %>
  
  
  <%= csrf_meta_tag %>
</head>
<body>
	<div class="container">
		
		<div class="green_div"><%= image_tag('ServPro.png', alt: 'ServPro Industries') %></div>
		<div class="gray_div"></div>
		
				
		<%= yield %>
		
	</div>
</body>
</html>
